@()

@main("Shorten your URLs with couchbase") {

    <form class="form-inline">
        <input type="text" class="input-xxlarge" placeholder="http://www.google.com" name="url" id="url">
        <button type="button" id="create" class="btn btn-primary">Create short URL</button>
    </form>
    <div id="createdurl" class="span12"></div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#create').click(function(e) {
                e.preventDefault();
                var url = $('#url').val();
                $.post('@routes.ApiController.createUrl()', {url: url}, function(data) {
                    console.log(data);
                    if (data.error !== true) {
                        $('#createdurl').html('<span class="alert alert-success span12">You can use <a href="http://mi.ni/' + data.url.id + '">http://mi.ni/' + data.url.id + '</a> to access to <a href="' + url + '">' + url + '</a></span>');
                    } else {
                        $('#createdurl').html('<span class="alert alert-danger">' + data.message + '</span>');
                    }
                });
            });
        });
    </script>
}
