@media (max-width: 767px) {
    body {
        padding-top: 0px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    body {
        padding-top: 60px;
    }
}

@media (min-width: 1200px) {
    body {
        padding-top: 60px;
    }
}

input[type=text],input[type=number],input[type=text]:focus,input[type=number]:focus {
    border: none;
    outline: 0;
}

