@(peoples: List[People])

@main("Peoples") {

    <form class="form-inline">
        <input type="text" class="input-medium" placeholder="Name" name="name" id="name">
        <input type="text" class="input-medium" placeholder="Surname" name="surname" id="surname">
        <button type="button" id="create" class="btn btn-primary">Create people</button>
    </form>
    <span id="empty" class="alert alert-info @if(!peoples.isEmpty){hide}">No one in the bucket !!!</span>
    <ul class="unstyled" id="peoples">
    @for(people <- peoples) {
        <li><button class="btn btn-mini btn-danger delete" data-people="@people.id.get">x</button> <b>Name:</b> @people.name <b>Surname:</b> @people.surname - <b>Id:</b> @people.id.get</li>
    }
    </ul>

    <script type="text/javascript">
        $(document).ready(function() {
            var register = function() {
                $('.delete').on('click', function(e) {
                    e.preventDefault();
                    var id = $(this).data('people');
                    $.ajax({url: '/peoples/' + id, type: 'delete', dataType: 'json', success:function(data) {
                        console.log('Delete of people with id ' + id + ' is ' + (data.success === true ? 'done' : 'not done')  + '. Message is : ' + data.message);
                    }});
                });
            };
            var connectSSE = function() {
                var source = new EventSource("@routes.PeopleController.peoples()")
                source.onmessage = function(evt) {
                    var data = JSON.parse(evt.data);
                    $('#peoples').empty();
                    if (typeof  data.peoples === 'undefined' || data.peoples.length === 0) {
                        $('#empty').show();
                    } else {
                        $('#empty').hide();
                        _.each(data.peoples, function(item) {
                            $('#peoples').append('<li><button class="btn btn-mini btn-danger delete" data-people="' + item.id + '">x</button> <b>Name:</b> ' + item.name + ' <b>Surname:</b> ' + item.surname + ' - <b>Id:</b> ' + item.id + '</li>')
                        });
                        register()
                    }
                };
            };
            register();
            $('#create').click(function(e) {
                e.preventDefault();
                var name = $('#name').val();
                var surname = $('#surname').val();
                $.post('@routes.PeopleController.create()', {name: name, surname: surname}, function(data) {
                    console.log('Creation of people is ' + (data.success === true ? 'done' : 'not done')  + '. Message is : ' + data.message);
                    console.log(data.people);
                });
            });
            setTimeout(connectSSE, 500);
        });
    </script>

}
