@(message: String)

@main("Welcome to Play 2.1") {
    
    @message
    <br/><br/>
    <div id="get1"></div>
    <br/>
    <div id="get2"></div>
    <br/>
    <div id="get3"></div>
    <br/>
    <div id="get4"></div>

    <script type="text/javascript">
        $(document).ready(function() {
            $.get('@routes.Application.getContent("test1")').then(function(data) {
               $('#get1').html(data);
            }).then(function() {
                return $.get('@routes.Application.getPerson("toto")')
            }).then(function(data) {
                $('#get2').html(data);
            }).then(function() {
                return $.get('@routes.Application.create()')
            }).then(function(data) {
                $('#get3').html(data);
            }).then(function() {
                return $.get('@routes.Application.query()')
            }).then(function(data) {
                $('#get4').html(data);
            });
        });
    </script>

}
